body {
  background: #ddd;
  font-family: "Georgia", sans-serif;
}

header {
	background-color: #5f5353;
	color: #ffff;
	text-align: center;
	border-bottom: 5px solid #5f5353;
	padding: 100px ;
	margin-bottom: 30px;
}

section {
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	
}

section>h2 {
	text-align: center;
	align-items: center;
}

a {
	color: rgb(255, 94, 0);
}

a:visited {
	color: #5f5353;
}

img {
	max-width: 300px;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
